# Ignore Gradle project-specific cache directory
.gradle/

# Ignore Gradle build output directory
build/
bin/

# gradle.properties file is supposed to contain personal settings
# optionally you can store personal settings in $GRADLE_HOME/gradle.properties
# by default $GRADLE_HOME corresponds to $HOME/.gradle
gradle.properties

# ignore idea project file
*.iml
.idea/

roup